<div class="side-nav">
    <div class="col">
        <ion-fab-button (click)="onNavigateBack()">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-fab-button>
    </div>

    <div class="col">
        <ion-fab-button (click)="onNavigateBeverages()">
            <ion-icon [name]="mainIcon2"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="onNavigateFood()">
            <!-- <ion-icon name="restaurant-outline"></ion-icon> -->
            <ion-icon [name]="mainIcon1"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="onNavigateHome()">
            <ion-icon name="home-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="onNavigateCart()">
            <ion-icon name="cart-outline"></ion-icon>
        </ion-fab-button>
    </div>
</div>
