<div class="side-nav">
    <div class="col">
        <ion-fab-button (click)="onNavigateBack()">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-fab-button>
    </div>

    <div class="col">
        <!-- <ion-fab-button color="light">
              <ion-icon name="wine-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button color="light">
              <ion-icon name="pizza-outline"></ion-icon>
            </ion-fab-button> -->
        <ion-fab-button (click)="onNavigateHome()">
            <ion-icon name="home-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="onNavigateCart()">
            <ion-icon name="cart-outline"></ion-icon>
        </ion-fab-button>
    </div>
</div>
