* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-bottom: 3rem;
    margin-top: .95rem;
    color: rgb(85, 85, 85);
}

p {
    margin: 15px;
    margin-left: 5%;
    margin-bottom: 0;
    color: rgb(85, 85, 85);
    font-size: 1.1rem;
}

ion-list {
    background-color: rgba(238, 238, 238, 0) !important;
}

hr {
    background-color: rgb(197, 197, 197);
    margin: 15px 5%;
    margin-bottom: 2.5rem;
}

ion-fab-button {
    --border-radius: 20px 0 20px 0;
    --background: white;
    --color: rgb(255, 154, 117);
    --box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
    ion-icon {
        font-size: 1.5rem;
    }
}

ion-button {
    --background: coral;
    --color: rgb(255, 255, 255);
    --border-radius: 100px;
    border-radius: 10rem;
    width: 90%;
    margin-left: 5%;
    margin-top: 1.5rem
}

ion-button.outline {
    border: 3px solid coral;
    --background: white;
    --color: black;
}
