<div class="reorder-beverages">
    <ion-row>
        <ion-col>
            <h1>Dürfen wir Ihnen noch etwas zu trinken bringen?</h1>

            <p>Ihre bisherigen Getränke nachbestellen?</p>

            <ion-list *ngFor="let item of orderedBeverages">
                <app-small-item-card [item]="item" (onItemChanged)="onItemChanged($event)"></app-small-item-card>
            </ion-list>

            <hr />

            <ion-button size="large" expand="block" class="outline" [routerLink]="['/', 'categories', 'categories-beverages', 'false']" (click)="onOpenAllBeverages()">
                Alle Getränke Anzeigen
            </ion-button>

            <ion-button size="large" expand="block" (click)="addBeveragesToCart()">
                Ausgewählte Getränke in den Einkaufswagen
            </ion-button>
        </ion-col>
    </ion-row>
</div>

<ion-fab slot="fixed">
    <ion-fab-button>
        <ion-icon name="close-outline" size="large" (click)="onClose()"></ion-icon>
    </ion-fab-button>
</ion-fab>
