<div class="reorder-beverages">
    <ion-row>
        <ion-col>
            <h1>Dürfen wir Ihnen noch etwas zu trinken bringen?</h1>

            <p>Ihre bisherigen Getränke nachbestellen?</p>

            <ion-list *ngFor="let item of orderedBeverages">
                <app-small-item-card [item]="item" (onItemChanged)="onItemChanged($event)"></app-small-item-card>
            </ion-list>

            <hr />

            <ion-button size="large" expand="block" class="outline">
                Alle Getränke Anzeigen
            </ion-button>
            <div class="allBeverages" [routerLink]="['/', 'categories', 'categories-beverages', 'false']" (click)="onOpenAllBeverages()">
                <ion-row>
                    <ion-col>
                        <h2>Alle Getränke anzeigen</h2>
                    </ion-col>
                </ion-row>
            </div>

            <div class="toCart" (click)="addBeveragesToCart()">
                <ion-row>
                    <ion-col>
                        <h2>Ausgewählte Getränke in den Einkaufswagen</h2>
                    </ion-col>
                </ion-row>
            </div>
        </ion-col>
    </ion-row>
</div>

<ion-fab slot="fixed">
    <ion-fab-button>
        <ion-icon name="close-outline" size="large" (click)="onClose()"></ion-icon>
    </ion-fab-button>
</ion-fab>
