<ion-content>
    <ion-grid>
        <div class="container">
            <ion-row>
                <ion-col>
                    <h2>Vielen Dank für ihren Besuch!</h2>
                    <p>
                        Dürfen wir um eine Bewertung bitten? <br /> QR-Code Scannen und Bewerten.
                    </p>
                </ion-col>
            </ion-row>

            <ion-row>
                <ion-col class="text-align-start">
                    <img src="/assets/images/frame.png" alt="" />
                    <p class="detail">Gimig</p>
                </ion-col>
                <ion-col class="text-align-start">
                    <img src="/assets/images/frame.png" alt="" />
                    <p class="detail">Venezia</p>
                </ion-col>
            </ion-row>
        </div>
    </ion-grid>
</ion-content>
