h3 {
    margin-right: 20px;
}

.small-item-card {
    background-color: white;
    margin: 15px;
    border-radius: 15px;
    padding: 0px 15px;
}

ion-fab-button {
    --box-shadow: none;
    margin: 5px 10px;
}

.align-right {
    justify-content: end;
    justify-items: flex-end;
    justify-content: flex-end;
}
