<ion-content scroll-y="false" (click)="onActivate()">
    <div class="container">
        <img class="background-img" src="/assets/images/chris-liverani-oCsaxvGCehM-unsplash.jpg" />
        <div class="centered">
            <h2>Tisch {{tableNumber}}</h2>
            <h1>Reserviert</h1>
            <h2 *ngIf="reservationTimestamp" class="align-right">
                Ab {{reservationTimestamp | date:'HH:mm'}}
            </h2>
        </div>
        <div class="bottom blink_me">
            <p>Bildschirm berühren um zu Starten</p>
        </div>
    </div>
</ion-content>
