ion-content {
    --ion-background-color: whitesmoke
}

h2 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 2px;
    color: white;
    // opacity: 0.8;
}

.order-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

ion-button {
    margin-top: 2rem;
    width: 35rem;
    height: 3.5rem;
    --border-radius: 50px;
    --background: rgb(117, 158, 255);
    --box-shadow: none;
}

h3 {
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 2.5rem;
    font-size: 1.5rem;
    letter-spacing: 0px;
    color: rgb(121, 121, 121);
}

.text-row {
    margin-top: 5rem;
}

.space {
    margin-top: 2rem;
}

.navbtn {
    width: 100%;
    // letter-spacing: 1px;
    --border-radius: 100px;
    --background: rgb(117, 158, 255);
}

p {
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(139, 139, 139);
    margin-left: 1rem;
    margin-bottom: 0;
}
