<ion-content>
    <ion-fab vertical="top" horizontal="start" slot="fixed">
        <ion-fab-button color="light" (click)="closeSettings()">
            <ion-icon name="chevron-back-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-grid>
        <ion-row>
            <ion-col size="8" offset="2">
                <h2>Einstellungen</h2>
                <ion-list>
                    <ion-item (click)="openTableNumberModal()">
                        <ion-label>Tischnummer</ion-label>
                        <ion-icon name="bookmark-outline"></ion-icon>
                    </ion-item>
                    <ion-item>
                        <ion-label>Akzentfarbe</ion-label>
                        <ion-icon name="color-palette-outline"></ion-icon>
                    </ion-item>
                    <ion-item>
                        <ion-label>Layout</ion-label>
                        <ion-icon name="layers-outline"></ion-icon>
                    </ion-item>
                    <ion-item>
                        <ion-label (click)="openLogoutConfirmationModal()">Abmelden</ion-label>
                        <ion-icon name="log-out-outline"></ion-icon>
                    </ion-item>
                    <ion-item>
                        <ion-label (click)="exitKioskMode()">Applikation verlassen</ion-label>
                        <ion-icon name="log-out-outline"></ion-icon>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>