<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="8" offset="2">
                <h2>Einstellungen</h2>
                <ion-list>
                    <ion-item (click)="opentableNumberSetting()">
                        <ion-label>Tischnummer</ion-label>
                        <ion-icon name="bookmark-outline"></ion-icon>
                    </ion-item>
                    <ion-item>
                        <ion-label>Akzentfarbe</ion-label>
                        <ion-icon name="color-palette-outline"></ion-icon>
                    </ion-item>
                    <ion-item>
                        <ion-label>Layout</ion-label>
                        <ion-icon name="layers-outline"></ion-icon>
                    </ion-item>
                    <ion-item>
                        <ion-label (click)="openLogoutSetting()">Abmelden</ion-label>
                        <ion-icon name="log-out-outline"></ion-icon>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
