<ion-item lines="none" [ngStyle]="{ opacity: item.isVisible ? 1 : 0.4 }" *ngIf="item.imagePath | async; let url" [@simpleFadeAnimation]="'in'">
    <ion-card>
        <ion-grid>
            <ion-row>
                <ion-col size="2.9">
                    <img [src]="url" />
                </ion-col>
                <ion-col size="7.1" class="content">
                    <ion-label>
                        <h2>{{ item.name }}</h2>
                    </ion-label>
                    <p>{{ item.description }}</p>
                </ion-col>
                <ion-col size="1.5" class="bottom" *ngIf="!item.price == 0">
                    <p>{{ item.price | currency: "EUR":"symbol":"":"fr" }}</p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-card>
</ion-item>
