ion-label {
    margin-top: 3.5rem;
    margin-bottom: 2.5rem;
}

h2 {
    letter-spacing: 1px;
    color: rgb(71, 71, 71);
    font-size: 1.5rem;
    line-height: 2rem;
}

ion-button {
    padding: 0;
    width: 15rem;
    --box-shadow: none;
    --border-radius: 100px;
    --background: coral;
}

.confirm {
    --background: none;
    --border-color: coral;
    --border-width: 3px;
    --color: rgb(63, 63, 63);
}

.content-col {
    display: flex;
    justify-content: center;
    text-align: center;
}