<div *ngIf="qrCodeImage" class="wifi-modal">
    <ion-row class="center-horizontal">
        <ion-col>
            <div class="wifi-qr-code">
                <img [src]="qrCodeImage" alt="" />
            </div>
            <ion-row class="space-between">
                <p>Name:</p>
                <p>{{ restaurant.wifiName }}</p>
            </ion-row>
            <ion-row class="space-between">
                <p>Passwort:</p>
                <p>{{ restaurant.wifiPassword }}</p>
            </ion-row>
        </ion-col>
    </ion-row>
</div>
