<ion-content scroll-y="false">
    <div class="container">
        <img class="background-img" src="/assets/images/chris-liverani-oCsaxvGCehM-unsplash.jpg" />
        <div class="centered">
            <h2>Cool dass du da warst!</h2>

            <p>
                Schreib uns gerne eine Feedback bei Google & über 5 ⭐ freuen wir uns auch sehr! Bis zum nächsten Mal, deine Moe's Lounge.
            </p>

            <ion-row class="qr-code-row">
                <div class="qr-item">
                    <img src="/assets/images/d.jpeg" alt="" />
                    <p>Moe's Lounge</p>
                </div>
                <div class="qr-item">
                    <img src="/assets/images/frame.png" alt="" />
                    <p>Gimig</p>
                </div>

                <!-- <div class="qr-item">
                    <img src="/assets/images/schrannencafe.png" alt="" />
                    <p>Balkan</p>
                </div> -->
            </ion-row>
        </div>
    </div>
</ion-content>