<ion-content scroll-y="false">
    <div class="container">
        <img class="background-img" src="/assets/images/chris-liverani-oCsaxvGCehM-unsplash.jpg" />
        <div class="centered">
            <h2>VIELEN DANK Für Ihren Besuch!</h2>

            <p>
                Lassen Sie uns Ihre Meinung hier, indem Sie uns ganz einfach auf Google Bewerten
            </p>

            <ion-row class="qr-code-row">
                <div class="qr-item">
                    <img src="/assets/images/frame.png" alt="" />
                    <p>Gimig</p>
                </div>
                <div class="qr-item">
                    <img src="/assets/images/schrannencafe.png" alt="" />
                    <p>Balkan</p>
                </div>
            </ion-row>
        </div>
    </div>
</ion-content>