/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
// FONTS
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    src: url('./assets/fonts/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: url('./assets/fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    src: url('./assets/fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('./assets/fonts/Roboto-Black.ttf');
}

@font-face {
    font-family: 'PlayFair';
    font-style: normal;
    font-weight: normal;
    src: url('./assets/fonts/PlayfairDisplay-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: url('./assets/fonts/Lato-Black.ttf');
}

.item-detail-css .modal-wrapper {
    height: 80%;
    width: 80%;
    top: 10%;
    border-radius: 20px;
    position: absolute;
    display: block;
}

.item-confirm-css .modal-wrapper {
    height: 60%;
    width: 60%;
    top: 20%;
    border-radius: 20px;
    position: absolute;
    display: block;
}

.confirm-css .modal-wrapper {
    height: 30%;
    width: 100%;
    top: 70%;
    border-radius: 0px;
    position: absolute;
    display: block;
}

.send-pay-request-css .modal-wrapper {
    height: 60%;
    width: 100%;
    top: 40%;
    border-radius: 0px;
    position: absolute;
    display: block;
}

.table-setting-css .modal-wrapper {
    height: 50%;
    width: 90%;
    top: 25%;
    border-radius: 20px;
    position: absolute;
    display: block;
}

.logout-confirm-css .modal-wrapper {
    height: 50%;
    width: 60%;
    top: 25%;
    border-radius: 20px;
    position: absolute;
    display: block;
}

.admin-login-css .modal-wrapper {
    height: 80%;
    width: 40%;
    top: 10%;
    // left: 30%;
    border-radius: 20px;
    position: absolute;
    display: block;
}