<ion-content class="ion-text-center" no-scroll scrollY="false" padding>
    <!-- <img [src]="backgroundImage" /> -->
    <img src="../assets/images/home-background.jpg" alt="" />
    <div class="vertical-align-content">
        <ion-grid class="myOverlay">
            <ion-row>
                <ion-col>
                    <h1 (click)="openAdmin()">Willkommen bei Venzia</h1>
                    <ion-row>
                        <ion-col>
                            <ion-button size="large" color="light" [routerLink]="['/','categories','categories-beverages', 'false']">Getränke</ion-button>
                            <ion-button size="large" color="light" [routerLink]="['/','categories','categories-food', 'true']">Speisen</ion-button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-button size="large" color="light" [disabled]="!ableToPay" (click)="sendPayRequest()">Zahlen</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="light" (click)="sendServiceRequest()">
            <ion-icon name="notifications-outline" *ngIf="!serviceRequest"></ion-icon>
            <ion-icon name="checkmark-done-outline" *ngIf="serviceRequest"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
        <ion-fab-button color="light" (click)="openCart()">
            <ion-icon name="cart-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-fab vertical="top" horizontal="end" slot="fixed">
        <p>Tisch {{tableNumber}}</p>
    </ion-fab>
</ion-content>