<ion-content *ngIf="backgroundImage" fullscreen class="ion-text-center" no-scroll scrollY="false" padding>
    <!-- <img [src]="backgroundImage" /> -->
    <!-- <img src="../assets/images/32602469.jpg" alt="" /> -->
    <img [src]="backgroundImage" alt="" />

    <ion-fab vertical="top" horizontal="end" slot="fixed" (click)="openAdmin()">
        <p>Tisch {{tableNumber}}</p>
    </ion-fab>
    <ion-fab vertical="top" horizontal="start" slot="fixed">
        <ion-fab-button color="light" (click)="openWifiModal()">
            <ion-icon name="wifi-outline"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <div class="vertical-align-content">
        <ion-grid class="myOverlay">
            <ion-row>
                <ion-col>
                    <h1 (click)="openAdmin()">{{welcomeMessage}}</h1>
                    <ion-row>
                        <ion-col *ngIf="restaurant$ | async as restaurant">
                            <ion-button size="large" color="light" [routerLink]="['/','categories','categories-beverages', 'false', restaurant.mainCategory2]">{{restaurant.mainCategory2 }}</ion-button>
                            <ion-button size="large" color="light" [routerLink]="['/','categories','categories-food', 'true', restaurant.mainCategory1]">{{restaurant.mainCategory1 }}</ion-button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col>
                            <ion-button size="large" color="light" *ngIf="ableToPay" (click)="openPayRequestModal()">ZAHLEN</ion-button>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <ion-fab class="text-fab" vertical="bottom" horizontal="end" slot="fixed">
        <ion-button color="light" (click)="openServiceRequestModal()">
            Service
            <div class="space"></div>

            <!-- <ion-icon name="notifications-outline" *ngIf="!serviceRequest"></ion-icon> -->
            <ion-icon name="checkmark-done-outline" *ngIf="serviceRequest"></ion-icon>
        </ion-button>
    </ion-fab>
    <ion-fab class="text-fab" vertical="bottom" horizontal="start" slot="fixed">
        <ion-button color="light" [routerLink]="['/','cart']">
            <!-- <ion-icon name="cart-outline"></ion-icon> -->
            <!-- <div class="space"></div> -->
            Warenkorb
        </ion-button>
    </ion-fab>
</ion-content>
